@charset "UTF-8";

body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: white;
   background-color: rgba(23, 23, 95, 0.644);
  }
  
  h1 {
      font-size: 3em;
      text-align: center;
  }
  section {
      color: black;
      background-color: white;
      border-radius: 10px;
      padding: 15px;
      width: 500px;
      margin: auto;
      box-shadow: 3px 3px 10px black;
     
  }
  footer {
      text-align: center;
      font-style: italic;
  }
  @media screen and (orientation: portrait) 
    section {
        margin-top: 150px;
        
    
  }